
@media screen and (orientation: portrait), screen and (max-width: 768px) {
    body.custom {
        padding-top: 10.4rem;
    }
}
@media screen and (orientation: portrait) and (max-width: 428px),
screen and (max-width: 768px) and (max-width: 428px) {
    body.custom {
        padding-top: 7.6rem;
    }
}
@media screen and (orientation: portrait), screen and (max-width: 768px) {
    body.custom .header {
        position: fixed !important;
    }
}
body.custom .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}
@media screen and (orientation: portrait), screen and (max-width: 768px) {
    body.custom .wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: auto;
    }
}
@media screen and (orientation: portrait), screen and (max-width: 768px) {
    body.custom .header {
        position: -webkit-sticky;
        position: sticky;
        z-index: 100;
        top: 0;
        left: 0;
        right: 0;
    }
}
@media screen and (min-width: 769px) {
    body:not(.custom) .newsMiniBlock__pic {
        height: 28rem;
    }
    body:not(.custom) .newsMiniBlock__cont__links__part {
        font-size: 1.4rem;
        line-height: 130%;
        margin: 0.8rem 0.8rem 0;
    }
    body:not(.custom) .newsMiniBlock__cont__tit {
        font-size: 1.8rem;
        line-height: 130%;
        margin-bottom: 1rem;
    }
    body:not(.custom) .newsMiniBlock__cont__name {
        font-size: 1.4rem;
        line-height: 130%;
    }
    body:not(.custom) .contacts__data__logoWrap__logo {
        width: 29.4rem;
        height: 8.3rem;
    }
    body:not(.custom) .contacts__data__links__soc__link__img {
        width: 4.8rem;
        height: 4.8rem;
    }
}
body.horizontal {
    overflow-x: auto;
    overflow-y: hidden;
    height: 100%;
}
body.horizontal .hidden {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 100%;
}
body.horizontal .wrapper {
    width: auto;
    height: 108rem;
    min-height: 0;
}
@media screen and (orientation: portrait), screen and (max-width: 768px) {
    body.horizontal .wrapper {
        height: auto;
    }
}
body.horizontal > div {
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
body.touch .wrapper {
    padding-left: 30.2rem;
}
@media screen and (orientation: portrait), screen and (max-width: 768px) {
    body.touch .wrapper {
        padding-left: 0;
    }
}
body.touch.horizontal .header:not(.slim) {
    width: 30.2rem !important;
}
body.touch.horizontal .header:not(.slim) .header__logoWrap__logo {
    opacity: 0;
    -webkit-transform: translateY(-20rem);
    -ms-transform: translateY(-20rem);
    transform: translateY(-20rem);
}
body.touch.horizontal .header:not(.slim) .header__logoWrap__logo-hover {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}
body.touch.horizontal .header:not(.slim) .header__menu__item__name {
    width: calc(100% - 5.6rem);
    padding-left: 1.6rem;
}
.hidden {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow: hidden;
}
.wrapper {
    padding: 0 0 0 13.2rem;
    margin: 0;
    border: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 192rem;
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
}
@media screen and (orientation: portrait), screen and (max-width: 768px) {
    .wrapper {
        padding: 0;
        width: 76.8rem;
    }
}
@media screen and (max-width: 428px) {
    .wrapper {
        width: 42.8rem;
    }
}
.wrapper > div {
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
a {
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
* {
    -webkit-appearance: none;
    -moz-appearance: none;
}
select::-ms-expand {
    display: none;
}
button,
input,
select,
textarea {
    outline: 0;
}
.container {
    width: 100%;
    max-width: 186rem;
    margin: 0 auto;
    padding: 0 3rem;
}
@media screen and (max-width: 428px) {
    .container {
        padding: 0 1.7rem;
    }
}
.absolute-full {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.no-scroll {
    overflow: hidden !important;
}
.hide-scroll,
.horizMenu_hide-scroll {
    overflow: auto;
    scrollbar-width: thin;
}
.hide-scroll::-webkit-scrollbar,
.horizMenu_hide-scroll::-webkit-scrollbar {
    width: 0;
}
.horizMenu_hide-scroll > * {
    width: auto !important;
}
.custom-scroll {
    overflow: auto;
}
@media screen and (hover) {
    .custom-scroll {
        scrollbar-width: thin;
    }
}
@media screen and (hover) {
    .custom-scroll::-webkit-scrollbar {
        height: 8px;
        width: 3px;
        background-color: rgba(48, 48, 48, 0.05);
    }
}
@media screen and (hover) {
    .custom-scroll::-webkit-scrollbar-thumb {
        height: 8px;
        border-radius: 5px;
        -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
        background-color: rgba(48, 48, 48, 0.05);
    }
}

.header {
    position: fixed;
    z-index: 17;
    top: 0;
    left: 0;
    width: 13.2rem;
    height: 108rem;
    background-color: #fff;
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    min-width: 8rem;
}
@media screen and (min-width: 769px) and (hover) {
    .header {
        -webkit-transition: width 1s;
        -o-transition: width 1s;
        transition: width 1s;
    }
    .header:hover {
        width: 30.2rem !important;
    }
    .header:hover .header__logoWrap__logo {
        opacity: 0;
        -webkit-transform: translateY(-20rem);
        -ms-transform: translateY(-20rem);
        transform: translateY(-20rem);
    }
    .header:hover .header__logoWrap__logo-hover {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
    .header:hover .header__menu__item__name {
        width: calc(100% - 5.6rem);
        padding-left: 1.6rem;
    }
}
@media screen and (orientation: portrait), screen and (max-width: 768px) {
    .header {
        width: 100%;
        height: auto;
        position: relative;
        bottom: auto;
    }
    .header_black768 {
        background-color: #1f1f1f;
    }
    .header_black768 .header__mb {
        background-color: #1f1f1f !important;
    }
    .header_black768 .burger:after,
    .header_black768 .burger:before {
        background-color: #fff !important;
    }
}
.header__dt {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
@media screen and (orientation: portrait), screen and (max-width: 768px) {
    .header__dt {
        display: none;
    }
}
.header__dt .header__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.header__logoWrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 10.5rem;
    margin-bottom: 2.4rem;
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
@media screen and (min-width: 769px) and (hover) {
    .header__logoWrap {
        cursor: pointer;
        -webkit-transition: opacity 1s, -webkit-transform 0.3s;
        transition: opacity 1s, -webkit-transform 0.3s;
        -o-transition: opacity 1s, transform 0.3s;
        transition: opacity 1s, transform 0.3s;
        transition: opacity 1s, transform 0.3s, -webkit-transform 0.3s;
    }
    .header__logoWrap:hover {
        opacity: 0.4;
    }
    .header__logoWrap:active {
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
    }
}
.header__logoWrap__logo {
    display: block;
    width: 13.5rem;
    height: 100%;
    position: relative;
    z-index: 1;
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: opacity 1s, -webkit-transform 1s;
    transition: opacity 1s, -webkit-transform 1s;
    -o-transition: opacity 1s, transform 1s;
    transition: opacity 1s, transform 1s;
    transition: opacity 1s, transform 1s, -webkit-transform 1s;
}
.header__logoWrap__logo-hover {
    display: block;
    width: 18.7rem;
    height: 5.3rem;
    position: absolute;
    left: 5.2rem;
    top: 2.6rem;
    opacity: 0;
    -webkit-transform: translateX(-20rem);
    -ms-transform: translateX(-20rem);
    transform: translateX(-20rem);
    -webkit-transition: opacity 1s, -webkit-transform 1s;
    transition: opacity 1s, -webkit-transform 1s;
    -o-transition: opacity 1s, transform 1s;
    transition: opacity 1s, transform 1s;
    transition: opacity 1s, transform 1s, -webkit-transform 1s;
}
.header__menu {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 100%;
}
.header__menu__item {
    width: 100%;
    padding: 1rem 3.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: padding 1s;
    -o-transition: padding 1s;
    transition: padding 1s;
}
.header__menu__item__icoWrap {
    width: 5.6rem;
    height: 5.6rem;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s;
    border-radius: 0.8rem;
}
.header__menu__item__ico {
    display: block;
    width: 2.4rem;
    height: 2.4rem;
}
.header__menu__item__name {
    width: 0;
    -webkit-transition: width 1s, padding-left 1s;
    -o-transition: width 1s, padding-left 1s;
    transition: width 1s, padding-left 1s;
    white-space: nowrap;
    padding-left: 0;
    display: block;
    font-family: CoreSansC, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #1a1a1a;
    overflow: hidden;
}
@media screen and (min-width: 769px) and (hover) {
    .header__menu__item {
        cursor: pointer;
        overflow: hidden;
        -webkit-transition: opacity 0.3s, padding 1s;
        -o-transition: opacity 0.3s, padding 1s;
        transition: opacity 0.3s, padding 1s;
    }
    .header__menu__item__ico {
        -webkit-transition: opacity 0.3s, -webkit-transform 0.5s;
        transition: opacity 0.3s, -webkit-transform 0.5s;
        -o-transition: transform 0.5s, opacity 0.3s;
        transition: transform 0.5s, opacity 0.3s;
        transition: transform 0.5s, opacity 0.3s, -webkit-transform 0.5s;
    }
    .header__menu__item:hover .header__menu__item__icoWrap {
        background-color: #fece2f;
    }
    .header__menu__item:active {
        opacity: 0.4;
    }
}
.header__footer {
    width: 100%;
    padding: 2.4rem 3.4rem 3.2rem;
    -webkit-transition: padding 1s;
    -o-transition: padding 1s;
    transition: padding 1s;
}
.header__footer__wrap {
    background-color: #ffffff;
    width: 100%;
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.header__footer__wrap > a {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.header__footer__wrap > a > span {
    -webkit-transform: translateY(2px);
    -ms-transform: translateY(2px);
    transform: translateY(2px);
}
.header__footer__wrap__ico {
    display: block;
    width: 1.8rem;
    height: 2.4rem;
}
.header__mb {
    display: none;
}
@media screen and (orientation: portrait), screen and (max-width: 768px) {
    .header__mb {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 2.4rem;
        padding-bottom: 2.4rem;
        background-color: #fff;
        -webkit-transition: background-color 1s;
        -o-transition: background-color 1s;
        transition: background-color 1s;
    }
}
@media screen and (max-width: 428px) {
    .header__mb {
        padding-top: 1.6rem;
        padding-bottom: 1.6rem;
    }
}
.header__mobLogoWrap {
    display: block;
    margin: 0 1.5rem;
    width: 5.3rem;
    height: 5.6rem;
}
@media screen and (max-width: 428px) {
    .header__mobLogoWrap {
        width: 4.2rem;
        height: 4.4rem;
    }
}
.header__mobLogoWrap__ico {
    display: block;
    width: 100%;
    height: 100%;
}
.header__phoneWrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 3.8rem;
}
.header__phoneWrap__ico {
    display: block;
    width: 3.6rem;
    height: 3.6rem;
}
.header.open {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}
.header.open .header__mb {
    background-color: #ffffff;
}
.header.slim:not(:hover) {
    width: 7rem;
}
@media screen and (orientation: portrait), screen and (max-width: 768px) {
    .header.slim {
        width: 100%;
    }
}
.header.slim .header__footer,
.header.slim .header__menu__item {
    padding-left: 1rem;
    padding-right: 1rem;
}

.mobMenuContainer {
    width: 100%;
    padding-right: 3.2rem;
    padding-left: 3.2rem;
}
@media screen and (orientation: portrait), screen and (max-width: 768px) {
    .mobMenuContainer.mobilemenu_black768 {
        background-color: #1f1f1f !important;
    }
    .mobMenuContainer.mobilemenu_black768 * {
        color: #fff !important;
    }
    .mobMenuContainer.mobilemenu_black768 .mobilemenu__footer__right__icoWrap {
        width: 3.6rem;
        height: 3.6rem;
    }
}
@media screen and (orientation: portrait) and (max-width: 428px),
screen and (max-width: 768px) and (max-width: 428px) {
    .mobMenuContainer.mobilemenu_black768 .mobilemenu__footer__right__icoWrap {
        width: 2.4rem;
        height: 2.4rem;
    }
}
@media screen and (max-width: 428px) {
    .mobMenuContainer {
        padding-right: 1.6rem;
        padding-left: 1.6rem;
    }
}

.open .burger:after,
.open .burger:before {
    top: calc(50% - 1px);
}
.open .burger:before {
    -webkit-transform: rotateZ(45deg);
    -ms-transform: rotate(45deg);
    transform: rotateZ(45deg);
}
.open .burger:after {
    -webkit-transform: rotateZ(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotateZ(-45deg);
}
.burger {
    padding: 1.5rem 0;
    height: 4rem;
    width: 3.8rem;
    position: relative;
}
.burger:after,
.burger:before {
    content: "";
    display: block;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: #1a1a1a;
    position: absolute;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
}
.burger:before {
    top: 1.5rem;
}
.burger:after {
    top: 2.3rem;
}

.mobilemenu {
    display: none;
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-transform: translateY(-140vh);
    -ms-transform: translateY(-140vh);
    transform: translateY(-140vh);
}
@media screen and (orientation: portrait), screen and (max-width: 768px) {
    .mobilemenu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-top: 2.1rem;
        padding-bottom: 2.1rem;
        position: fixed;
        z-index: 10;
        height: calc(100% - 10.4rem);
        width: 100%;
        top: 10.4rem;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ffffff;
        pointer-events: none;
        -webkit-transition: -webkit-transform 2s;
        transition: -webkit-transform 2s;
        -o-transition: transform 2s;
        transition: transform 2s;
        transition: transform 2s, -webkit-transform 2s;
    }
}
@media screen and (max-width: 428px) {
    .mobilemenu {
        padding-top: 1.6rem;
        padding-bottom: 1.6rem;
        top: 7.6rem;
        height: calc(100% - 7.6rem);
    }
}
.mobilemenu.open {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    pointer-events: auto;
}
.mobilemenu:before {
    content: "";
    display: block;
    -webkit-box-flex: 0.75;
    -ms-flex-positive: 0.75;
    flex-grow: 0.75;
}
.mobilemenu__langs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: calc(100% + 1.2rem);
    margin: 0 -0.6rem;
}
.mobilemenu__langs__item {
    margin: 0 0.6rem;
    color: #acacac;
    font-family: CoreSansC, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 120%;
    letter-spacing: -0.02em;
}
.mobilemenu__langs__item.active {
    color: #1a1a1a;
}
.mobilemenu__wrapMenu {
    width: 100%;
    -webkit-box-flex: 3.85;
    -ms-flex-positive: 3.85;
    flex-grow: 3.85;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
}
@media screen and (max-width: 428px) {
    .mobilemenu__wrapMenu {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}
.mobilemenu__wrapMenu:after,
.mobilemenu__wrapMenu:before {
    content: "";
    display: block;
}
.mobilemenu__wrapMenu:before {
    -webkit-box-flex: 1.05;
    -ms-flex-positive: 1.05;
    flex-grow: 1.05;
}
.mobilemenu__wrapMenu:after {
    -webkit-box-flex: 2.8;
    -ms-flex-positive: 2.8;
    flex-grow: 2.8;
}
.mobilemenu__wrapMenu__menu {
    padding: 1.5rem 0;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-column-gap: 3.9rem;
    grid-row-gap: 3.5rem;
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
}
@media screen and (orientation: portrait), screen and (max-width: 768px) {
    .mobilemenu__wrapMenu__menu {
        width: 70.4rem;
    }
}
@media screen and (max-width: 428px) {
    .mobilemenu__wrapMenu__menu {
        width: 37.4rem;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-column-gap: 0;
        grid-row-gap: 1rem;
        width: auto;
    }
}
.mobilemenu__wrapMenu__menu__link {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.mobilemenu__wrapMenu__menu__link__ico {
    display: block;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 1.6rem;
    width: 2.4rem;
    height: 2.4rem;
}
@media screen and (max-width: 428px) {
    .mobilemenu__wrapMenu__menu__link__ico {
        margin-right: 1rem;
        width: 1.8rem;
        height: 1.8rem;
    }
}
.mobilemenu__wrapMenu__menu__link__text {
    color: #1a1a1a;
    font-family: CoreSansC, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 3.6rem;
    line-height: 120%;
    letter-spacing: -0.02em;
}
@media screen and (max-width: 428px) {
    .mobilemenu__wrapMenu__menu__link__text {
        font-size: 1.8rem;
    }
}
.mobilemenu__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.mobilemenu__footer__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 1rem 1.5rem 0 0;
}
@media screen and (max-width: 428px) {
    .mobilemenu__footer__left {
        width: 100%;
        margin: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
}
.mobilemenu__footer__left__item {
    color: #1a1a1a;
    font-family: CoreSansC, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 120%;
    letter-spacing: -0.02em;
}
@media screen and (max-width: 428px) {
    .mobilemenu__footer__left__item {
        margin-top: 1.5rem;
    }
}
.mobilemenu__footer__left__br {
    height: 2.6rem;
    width: 1px;
    background-color: #acacac;
    margin: 0 1.6rem;
}
@media screen and (max-width: 428px) {
    .mobilemenu__footer__left__br {
        display: none;
    }
}
.mobilemenu__footer__right {
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    grid-column-gap: 2rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 1rem;
}
@media screen and (max-width: 428px) {
    .mobilemenu__footer__right {
        width: 100%;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-top: 3rem;
    }
}
.mobilemenu__footer__right__icoWrap {
    width: 4.8rem;
    height: 4.8rem;
}
@media screen and (max-width: 428px) {
    .mobilemenu__footer__right__icoWrap {
        width: 4.2rem;
        height: 4.2rem;
    }
}
.mobilemenu__footer__right__icoWrap__ico {
    display: block;
    width: 100%;
    height: 100%;
}

*,
:after,
:before {
    margin: 0;
    padding: 0;
    border: 0;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    height: 100%;
    overflow: hidden;
    min-height: 320px;
    min-width: 320px;
    font-size: 10px;
    pointer-events: none;
}
body {
    margin: 0;
    border: 0;
    width: 100%;
    overflow-y: auto;
    background-color: #fff;
    font-family: VisueltPro, sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.4;
    color: #1a1a1a;
    min-height: 100%;
    position: relative;
    pointer-events: all;
}

body.no-event{
    pointer-events: none;

    *{
        pointer-events: none;
    }
}


