.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
}
.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 28px;
    user-select: none;
    -webkit-user-select: none;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 8px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.select2-container .select2-selection--single .select2-selection__clear {
    background-color: transparent;
    border: none;
    font-size: 1em;
}
.select2-container[dir="rtl"]
.select2-selection--single
.select2-selection__rendered {
    padding-right: 8px;
    padding-left: 20px;
}
.select2-container .select2-selection--multiple {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    min-height: 32px;
    user-select: none;
    -webkit-user-select: none;
}
.select2-container .select2-selection--multiple .select2-selection__rendered {
    display: inline;
    list-style: none;
    padding: 0;
}
.select2-container .select2-selection--multiple .select2-selection__clear {
    background-color: transparent;
    border: none;
    font-size: 1em;
}
.select2-container .select2-search--inline .select2-search__field {
    box-sizing: border-box;
    border: none;
    font-size: 100%;
    margin-top: 5px;
    margin-left: 5px;
    padding: 0;
    max-width: 100%;
    resize: none;
    height: 18px;
    vertical-align: bottom;
    font-family: sans-serif;
    overflow: hidden;
    word-break: keep-all;
}
.select2-container
.select2-search--inline
.select2-search__field::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
.select2-dropdown {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: -100000px;
    width: 100%;
    z-index: 1051;
}
.select2-results {
    display: block;
}
.select2-results__options {
    list-style: none;
    margin: 0;
    padding: 0;
}
.select2-results__option {
    padding: 6px;
    user-select: none;
    -webkit-user-select: none;
}
.select2-results__option--selectable {
    cursor: pointer;
}
.select2-container--open .select2-dropdown {
    left: 0;
}
.select2-container--open .select2-dropdown--above {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.select2-container--open .select2-dropdown--below {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.select2-search--dropdown {
    display: block;
    padding: 4px;
}
.select2-search--dropdown .select2-search__field {
    padding: 4px;
    width: 100%;
    box-sizing: border-box;
}
.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
.select2-search--dropdown.select2-search--hide {
    display: none;
}
.select2-close-mask {
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    opacity: 0;
    z-index: 99;
    background-color: #fff;
}
.select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}
.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
}
.select2-container--default
.select2-selection--single
.select2-selection__rendered {
    color: #444;
    line-height: 28px;
}
.select2-container--default
.select2-selection--single
.select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: 700;
    height: 26px;
    margin-right: 20px;
    padding-right: 0;
}
.select2-container--default
.select2-selection--single
.select2-selection__placeholder {
    color: #999;
}
.select2-container--default
.select2-selection--single
.select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
}
.select2-container--default
.select2-selection--single
.select2-selection__arrow
b {
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;
}
.select2-container--default[dir="rtl"]
.select2-selection--single
.select2-selection__clear {
    float: left;
}
.select2-container--default[dir="rtl"]
.select2-selection--single
.select2-selection__arrow {
    left: 1px;
    right: auto;
}
.select2-container--default.select2-container--disabled
.select2-selection--single {
    background-color: #eee;
    cursor: default;
}
.select2-container--default.select2-container--disabled
.select2-selection--single
.select2-selection__clear {
    display: none;
}
.select2-container--default.select2-container--open
.select2-selection--single
.select2-selection__arrow
b {
    border-color: transparent transparent #888 transparent;
    border-width: 0 4px 5px 4px;
}
.select2-container--default .select2-selection--multiple {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: text;
    padding-bottom: 5px;
    padding-right: 5px;
    position: relative;
}
.select2-container--default
.select2-selection--multiple.select2-selection--clearable {
    padding-right: 25px;
}
.select2-container--default
.select2-selection--multiple
.select2-selection__clear {
    cursor: pointer;
    font-weight: 700;
    height: 20px;
    margin-right: 10px;
    margin-top: 5px;
    position: absolute;
    right: 0;
    padding: 1px;
}
.select2-container--default
.select2-selection--multiple
.select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
    padding: 0;
    padding-left: 20px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    white-space: nowrap;
}
.select2-container--default
.select2-selection--multiple
.select2-selection__choice__display {
    cursor: default;
    padding-left: 2px;
    padding-right: 5px;
}
.select2-container--default
.select2-selection--multiple
.select2-selection__choice__remove {
    background-color: transparent;
    border: none;
    border-right: 1px solid #aaa;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #999;
    cursor: pointer;
    font-size: 1em;
    font-weight: 700;
    padding: 0 4px;
    position: absolute;
    left: 0;
    top: 0;
}
.select2-container--default
.select2-selection--multiple
.select2-selection__choice__remove:focus,
.select2-container--default
.select2-selection--multiple
.select2-selection__choice__remove:hover {
    background-color: #f1f1f1;
    color: #333;
    outline: 0;
}
.select2-container--default[dir="rtl"]
.select2-selection--multiple
.select2-selection__choice {
    margin-left: 5px;
    margin-right: auto;
}
.select2-container--default[dir="rtl"]
.select2-selection--multiple
.select2-selection__choice__display {
    padding-left: 5px;
    padding-right: 2px;
}
.select2-container--default[dir="rtl"]
.select2-selection--multiple
.select2-selection__choice__remove {
    border-left: 1px solid #aaa;
    border-right: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.select2-container--default[dir="rtl"]
.select2-selection--multiple
.select2-selection__clear {
    float: left;
    margin-left: 10px;
    margin-right: auto;
}
.select2-container--default.select2-container--focus
.select2-selection--multiple {
    border: solid #000 1px;
    outline: 0;
}
.select2-container--default.select2-container--disabled
.select2-selection--multiple {
    background-color: #eee;
    cursor: default;
}
.select2-container--default.select2-container--disabled
.select2-selection__choice__remove {
    display: none;
}
.select2-container--default.select2-container--open.select2-container--above
.select2-selection--multiple,
.select2-container--default.select2-container--open.select2-container--above
.select2-selection--single {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.select2-container--default.select2-container--open.select2-container--below
.select2-selection--multiple,
.select2-container--default.select2-container--open.select2-container--below
.select2-selection--single {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #aaa;
}
.select2-container--default .select2-search--inline .select2-search__field {
    background: 0 0;
    border: none;
    outline: 0;
    box-shadow: none;
    -webkit-appearance: textfield;
}
.select2-container--default .select2-results > .select2-results__options {
    max-height: 200px;
    overflow-y: auto;
}
.select2-container--default .select2-results__option .select2-results__option {
    padding-left: 1em;
}
.select2-container--default
.select2-results__option
.select2-results__option
.select2-results__group {
    padding-left: 0;
}
.select2-container--default
.select2-results__option
.select2-results__option
.select2-results__option {
    margin-left: -1em;
    padding-left: 2em;
}
.select2-container--default
.select2-results__option
.select2-results__option
.select2-results__option
.select2-results__option {
    margin-left: -2em;
    padding-left: 3em;
}
.select2-container--default
.select2-results__option
.select2-results__option
.select2-results__option
.select2-results__option
.select2-results__option {
    margin-left: -3em;
    padding-left: 4em;
}
.select2-container--default
.select2-results__option
.select2-results__option
.select2-results__option
.select2-results__option
.select2-results__option
.select2-results__option {
    margin-left: -4em;
    padding-left: 5em;
}
.select2-container--default
.select2-results__option
.select2-results__option
.select2-results__option
.select2-results__option
.select2-results__option
.select2-results__option
.select2-results__option {
    margin-left: -5em;
    padding-left: 6em;
}
.select2-container--default .select2-results__option--group {
    padding: 0;
}
.select2-container--default .select2-results__option--disabled {
    color: #999;
}
.select2-container--default .select2-results__option--selected {
    background-color: #ddd;
}
.select2-container--default
.select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #5897fb;
    color: #fff;
}
.select2-container--default .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px;
}
.select2-container--classic .select2-selection--single {
    background-color: #f7f7f7;
    border: 1px solid #aaa;
    border-radius: 4px;
    outline: 0;
    background-image: -webkit-linear-gradient(top, #fff 50%, #eee 100%);
    background-image: -o-linear-gradient(top, #fff 50%, #eee 100%);
    background-image: linear-gradient(to bottom, #fff 50%, #eee 100%);
    background-repeat: repeat-x;
}
.select2-container--classic .select2-selection--single:focus {
    border: 1px solid #5897fb;
}
.select2-container--classic
.select2-selection--single
.select2-selection__rendered {
    color: #444;
    line-height: 28px;
}
.select2-container--classic
.select2-selection--single
.select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: 700;
    height: 26px;
    margin-right: 20px;
}
.select2-container--classic
.select2-selection--single
.select2-selection__placeholder {
    color: #999;
}
.select2-container--classic
.select2-selection--single
.select2-selection__arrow {
    background-color: #ddd;
    border: none;
    border-left: 1px solid #aaa;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
    background-image: -webkit-linear-gradient(top, #eee 50%, #ccc 100%);
    background-image: -o-linear-gradient(top, #eee 50%, #ccc 100%);
    background-image: linear-gradient(to bottom, #eee 50%, #ccc 100%);
    background-repeat: repeat-x;
}
.select2-container--classic
.select2-selection--single
.select2-selection__arrow
b {
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;
}
.select2-container--classic[dir="rtl"]
.select2-selection--single
.select2-selection__clear {
    float: left;
}
.select2-container--classic[dir="rtl"]
.select2-selection--single
.select2-selection__arrow {
    border: none;
    border-right: 1px solid #aaa;
    border-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    left: 1px;
    right: auto;
}
.select2-container--classic.select2-container--open .select2-selection--single {
    border: 1px solid #5897fb;
}
.select2-container--classic.select2-container--open
.select2-selection--single
.select2-selection__arrow {
    background: 0 0;
    border: none;
}
.select2-container--classic.select2-container--open
.select2-selection--single
.select2-selection__arrow
b {
    border-color: transparent transparent #888 transparent;
    border-width: 0 4px 5px 4px;
}
.select2-container--classic.select2-container--open.select2-container--above
.select2-selection--single {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-image: -webkit-linear-gradient(top, #fff 0, #eee 50%);
    background-image: -o-linear-gradient(top, #fff 0, #eee 50%);
    background-image: linear-gradient(to bottom, #fff 0, #eee 50%);
    background-repeat: repeat-x;
}
.select2-container--classic.select2-container--open.select2-container--below
.select2-selection--single {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-image: -webkit-linear-gradient(top, #eee 50%, #fff 100%);
    background-image: -o-linear-gradient(top, #eee 50%, #fff 100%);
    background-image: linear-gradient(to bottom, #eee 50%, #fff 100%);
    background-repeat: repeat-x;
}
.select2-container--classic .select2-selection--multiple {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: text;
    outline: 0;
    padding-bottom: 5px;
    padding-right: 5px;
}
.select2-container--classic .select2-selection--multiple:focus {
    border: 1px solid #5897fb;
}
.select2-container--classic
.select2-selection--multiple
.select2-selection__clear {
    display: none;
}
.select2-container--classic
.select2-selection--multiple
.select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
    padding: 0;
}
.select2-container--classic
.select2-selection--multiple
.select2-selection__choice__display {
    cursor: default;
    padding-left: 2px;
    padding-right: 5px;
}
.select2-container--classic
.select2-selection--multiple
.select2-selection__choice__remove {
    background-color: transparent;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #888;
    cursor: pointer;
    font-size: 1em;
    font-weight: 700;
    padding: 0 4px;
}
.select2-container--classic
.select2-selection--multiple
.select2-selection__choice__remove:hover {
    color: #555;
    outline: 0;
}
.select2-container--classic[dir="rtl"]
.select2-selection--multiple
.select2-selection__choice {
    margin-left: 5px;
    margin-right: auto;
}
.select2-container--classic[dir="rtl"]
.select2-selection--multiple
.select2-selection__choice__display {
    padding-left: 5px;
    padding-right: 2px;
}
.select2-container--classic[dir="rtl"]
.select2-selection--multiple
.select2-selection__choice__remove {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.select2-container--classic.select2-container--open
.select2-selection--multiple {
    border: 1px solid #5897fb;
}
.select2-container--classic.select2-container--open.select2-container--above
.select2-selection--multiple {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.select2-container--classic.select2-container--open.select2-container--below
.select2-selection--multiple {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.select2-container--classic .select2-search--dropdown .select2-search__field {
    border: 1px solid #aaa;
    outline: 0;
}
.select2-container--classic .select2-search--inline .select2-search__field {
    outline: 0;
    box-shadow: none;
}
.select2-container--classic .select2-dropdown {
    background-color: #fff;
    border: 1px solid transparent;
}
.select2-container--classic .select2-dropdown--above {
    border-bottom: none;
}
.select2-container--classic .select2-dropdown--below {
    border-top: none;
}
.select2-container--classic .select2-results > .select2-results__options {
    max-height: 200px;
    overflow-y: auto;
}
.select2-container--classic .select2-results__option--group {
    padding: 0;
}
.select2-container--classic .select2-results__option--disabled {
    color: grey;
}
.select2-container--classic
.select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #3875d7;
    color: #fff;
}
.select2-container--classic .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px;
}
.select2-container--classic.select2-container--open .select2-dropdown {
    border-color: #5897fb;
}
.slick-slider {
    position: relative;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: 0;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-list,
.slick-slider .slick-track {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:after,
.slick-track:before {
    content: "";
    display: table;
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
}
[dir="rtl"] .slick-slide {
    float: right;
}
.slick-slide img {
    display: block;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

.select2 * {
    outline: 0 !important;
}
@media screen and (min-width: 769px) {
    .select2-container--formBlock__top__select {
        display: none !important;
    }
}
.select2-container--formBlock__top__select .select2-dropdown {
    border: none;
    background-color: #fff;
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06), 0 0 1px rgba(0, 0, 0, 0.25);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06), 0 0 1px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 1rem 0;
}
.select2-container--formBlock__top__select
.select2-dropdown
.select2-results__option:first-child {
    display: none;
}
.select2-container--formBlock__top__select
.select2-dropdown
.select2-results__option {
    padding: 0.7rem 1.5rem;
    color: #1a1a1a;
    font-family: CoreSansC, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -0.02em;
}
@media screen and (min-width: 769px) and (hover) {
    .select2-container--formBlock__top__select
    .select2-dropdown
    .select2-results__option:not(.select2-results__option--selected) {
        cursor: pointer;
        -webkit-transition: opacity 1s, -webkit-transform 0.3s;
        transition: opacity 1s, -webkit-transform 0.3s;
        -o-transition: opacity 1s, transform 0.3s;
        transition: opacity 1s, transform 0.3s;
        transition: opacity 1s, transform 0.3s, -webkit-transform 0.3s;
    }
    .select2-container--formBlock__top__select
    .select2-dropdown
    .select2-results__option:not(.select2-results__option--selected):hover {
        opacity: 0.4;
    }
    .select2-container--formBlock__top__select
    .select2-dropdown
    .select2-results__option:not(.select2-results__option--selected):active {
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
    }
}
.select2-container--formBlock__top__select
.select2-dropdown
.select2-results__option.select2-results__option--selected {
    color: #fece2f;
}
.formBlock .select2-container--formBlock__top__select {
    margin-bottom: 4.5rem;
    border-bottom: 1px solid #353636;
    padding-bottom: 1.2rem;
    width: 100% !important;
}
@media screen and (min-width: 769px) {
    .formBlock .select2-container--formBlock__top__select {
        display: none !important;
    }
}
.formBlock
.select2-container--formBlock__top__select
.select2-selection--single {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.formBlock
.select2-container--formBlock__top__select
.select2-selection--single
.select2-selection__rendered {
    padding: 0;
    color: #9595a1;
    font-family: CoreSansC, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 120%;
    letter-spacing: -0.02em;
    max-width: calc(100% - 2.2rem);
}
.formBlock
.select2-container--formBlock__top__select
.select2-selection--single
.select2-selection__arrow {
    width: 1.2rem;
    height: 0.8rem;
    background: url(../images/min/icons/ddarrow.svg) center no-repeat;
    background-size: contain;
}
.horizMenu__filter_mw .select2-container {
    width: 100% !important;
}
.horizMenu__filter .select2-container .select2-selection--single {
    height: auto;
}
.horizMenu__filter
.select2-container
.select2-selection--single
.select2-selection__rendered {
    color: #1a1a1a;
    font-family: CoreSansC, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 130%;
    letter-spacing: -0.02em;
    white-space: nowrap;
    padding: 0 3.4rem 0 2rem;
}
.selectWrap:not(.select2-results__option--selected) {
    cursor: pointer;
    -webkit-transition: -webkit-filter 1s, -webkit-transform 0.3s;
    transition: -webkit-filter 1s, -webkit-transform 0.3s;
    -o-transition: filter 1s, transform 0.3s;
    transition: filter 1s, transform 0.3s;
    transition: filter 1s, transform 0.3s, -webkit-filter 1s,
    -webkit-transform 0.3s;
}
.selectWrap:not(.select2-results__option--selected):hover {
    -webkit-filter: hue-rotate(189deg);
    filter: hue-rotate(189deg);
}
.selectWrap:not(.select2-results__option--selected):active {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
.selectWrap .select2-container--selectWrap__select,
.selectWrap .select2-container--selectWrap__selectHorizontal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100% !important;
    height: 100% !important;
    overflow: hidden;
    opacity: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.select2-container--selectWrap__select .select2-dropdown,
.select2-container--selectWrap__selectHorizontal .select2-dropdown {
    border: none;
    background-color: #fff;
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06), 0 0 1px rgba(0, 0, 0, 0.25);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06), 0 0 1px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 1rem 0;
}
.select2-container--selectWrap__select
.select2-dropdown
.select2-results__option,
.select2-container--selectWrap__selectHorizontal
.select2-dropdown
.select2-results__option {
    padding: 0.7rem 1.5rem;
    color: #1a1a1a;
    font-family: CoreSansC, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -0.02em;
}
@media screen and (max-width: 428px) {
    .select2-container--selectWrap__select
    .select2-dropdown
    .select2-results__option,
    .select2-container--selectWrap__selectHorizontal
    .select2-dropdown
    .select2-results__option {
        font-size: 14px;
    }
}
@media screen and (min-width: 769px) and (hover) {
    .select2-container--selectWrap__select
    .select2-dropdown
    .select2-results__option:not(.select2-results__option--selected),
    .select2-container--selectWrap__selectHorizontal
    .select2-dropdown
    .select2-results__option:not(.select2-results__option--selected) {
        cursor: pointer;
        -webkit-transition: opacity 1s, -webkit-transform 0.3s;
        transition: opacity 1s, -webkit-transform 0.3s;
        -o-transition: opacity 1s, transform 0.3s;
        transition: opacity 1s, transform 0.3s;
        transition: opacity 1s, transform 0.3s, -webkit-transform 0.3s;
    }
    .select2-container--selectWrap__select
    .select2-dropdown
    .select2-results__option:not(.select2-results__option--selected):hover,
    .select2-container--selectWrap__selectHorizontal
    .select2-dropdown
    .select2-results__option:not(.select2-results__option--selected):hover {
        opacity: 0.4;
    }
    .select2-container--selectWrap__select
    .select2-dropdown
    .select2-results__option:not(.select2-results__option--selected):active,
    .select2-container--selectWrap__selectHorizontal
    .select2-dropdown
    .select2-results__option:not(.select2-results__option--selected):active {
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
    }
}
.select2-container--selectWrap__select
.select2-dropdown
.select2-results__option.select2-results__option--selected,
.select2-container--selectWrap__selectHorizontal
.select2-dropdown
.select2-results__option.select2-results__option--selected {
    color: #fece2f;
}
.select2-container--selectWrap__select .select2-dropdown {
    width: 15rem !important;
}
.select2-container--selectWrap__selectHorizontal .select2-dropdown {
    border: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
}
.select2-container--selectWrap__selectHorizontal .select2-results {
    max-width: 50vw;
    direction: ltr;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border: none;
    background-color: #fff;
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06), 0 0 1px rgba(0, 0, 0, 0.25);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06), 0 0 1px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 1.7rem 1.5rem;
}
.select2-container--selectWrap__selectHorizontal
.select2-results
.select2-results__options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 100%;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}
.slider {
    pointer-events: none;
}
.slider a,
.slider button {
    pointer-events: auto !important;
}
.slider .slick-list,
.slider .slick-track {
    height: 100%;
}
.slider .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.slider .slick-prev {
    border: none;
    background: 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 5.8rem;
    height: 5.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    bottom: 6.2rem;
    left: 8rem;
    z-index: 1;
}
@media screen and (min-width: 769px) and (hover) {
    .slider .slick-prev {
        cursor: pointer;
        -webkit-transition: opacity 0.3s, -webkit-transform 1s;
        transition: opacity 0.3s, -webkit-transform 1s;
        -o-transition: transform 1s, opacity 0.3s;
        transition: transform 1s, opacity 0.3s;
        transition: transform 1s, opacity 0.3s, -webkit-transform 1s;
    }
    .slider .slick-prev path {
        -webkit-transition: fill 1s;
        -o-transition: fill 1s;
        transition: fill 1s;
    }
    .slider .slick-prev:hover {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
    }
    .slider .slick-prev:hover path {
        fill: #fece2f !important;
    }
    .slider .slick-prev:active {
        opacity: 0.4;
    }
}
@media screen and (max-width: 428px) {
    .slider .slick-prev {
        display: none !important;
    }
}
.slider .slick-prev__arrow {
    display: block;
    width: 1.1rem;
    height: 1.8rem;
}
.slider .slick-next {
    border: none;
    background: 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 5.8rem;
    height: 5.8rem;
    position: absolute;
    bottom: 6.2rem;
    left: 15.8rem;
    z-index: 1;
}
@media screen and (min-width: 769px) and (hover) {
    .slider .slick-next {
        cursor: pointer;
        -webkit-transition: opacity 0.3s, -webkit-transform 1s;
        transition: opacity 0.3s, -webkit-transform 1s;
        -o-transition: transform 1s, opacity 0.3s;
        transition: transform 1s, opacity 0.3s;
        transition: transform 1s, opacity 0.3s, -webkit-transform 1s;
    }
    .slider .slick-next path {
        -webkit-transition: fill 1s;
        -o-transition: fill 1s;
        transition: fill 1s;
    }
    .slider .slick-next:hover {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
    }
    .slider .slick-next:hover path {
        fill: #fece2f !important;
    }
    .slider .slick-next:active {
        opacity: 0.4;
    }
}
@media screen and (max-width: 428px) {
    .slider .slick-next {
        display: none !important;
    }
}
.slider .slick-next__arrow {
    display: block;
    width: 100%;
    height: 100%;
}
.slider .slick-next__arrow__circle_trans {
    -webkit-transition: stroke-dasharray 7s;
    -o-transition: stroke-dasharray 7s;
    transition: stroke-dasharray 7s;
}
.slider .slick-track > div {
    padding-bottom: 13rem;
}
@media screen and (max-width: 428px) {
    .slider .slick-track > div {
        padding-bottom: 0;
    }
    .fullHeightMinWidthComentsSlider .slick-prev {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        width: 4.8rem;
        height: 4.8rem;
        left: 2.4rem;
        bottom: 10rem;
    }
    .fullHeightMinWidthComentsSlider .slick-prev__arrow {
        width: 0.9rem;
        height: 1.5rem;
    }
    .fullHeightMinWidthComentsSlider .slick-next {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        width: 4.8rem;
        height: 4.8rem;
        left: 9rem;
        bottom: 10rem;
    }
}
.simpleSlider .slick-slide {
    margin: 0 1.2rem;
}
.simpleSlider .slick-arrow {
    background-color: transparent;
    position: absolute;
    top: 0;
    width: 5.8rem;
    height: 5.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
@media screen and (min-width: 769px) and (hover) {
    .simpleSlider .slick-arrow {
        cursor: pointer;
        -webkit-transition: -webkit-transform 0.3s;
        transition: -webkit-transform 0.3s;
        -o-transition: transform 0.3s;
        transition: transform 0.3s;
        transition: transform 0.3s, -webkit-transform 0.3s;
    }
    .simpleSlider .slick-arrow svg path {
        -webkit-transition: fill 1s;
        -o-transition: fill 1s;
        transition: fill 1s;
    }
    .simpleSlider .slick-arrow:hover svg path {
        fill: #ff8c22 !important;
    }
    .simpleSlider .slick-arrow:active {
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
    }
}
@media screen and (orientation: portrait), screen and (max-width: 768px) {
    .simpleSlider .slick-arrow {
        width: 4rem;
        height: 4rem;
    }
}
@media screen and (max-width: 428px) {
    .simpleSlider .slick-arrow {
        top: auto;
        bottom: 0;
    }
    .simpleSlider .slick-next {
        right: auto;
        left: 6rem;
    }
    .ormBlock .simpleSlider .slick-prev {
        right: auto;
        left: 0;
    }
    .simpleSlider .slick-slide {
        margin: 0;
    }
    .simpleSlider .slick-list {
        margin: 0;
    }
    .select2-container--formBlock__top__select
    .select2-dropdown
    .select2-results__option {
        font-size: 14px;
    }
    .formBlock .select2-container--formBlock__top__select {
        padding-bottom: 0.7rem;
        font-size: 1.4rem;
        margin-bottom: 3.7rem;
    }
}
.simpleSlider .slick-arrow img {
    display: block;
}
.simpleSlider .slick-next {
    right: 0;
}
.simpleSlider .slick-next img,
.simpleSlider .slick-next svg {
    display: block;
    width: 100%;
    height: 100%;
}
.simpleSlider .slick-prev {
    right: 7.8rem;
}
@media screen and (orientation: portrait), screen and (max-width: 768px) {
    .simpleSlider .slick-prev {
        right: 5.5rem;
    }
}
.simpleSlider .slick-prev img,
.simpleSlider .slick-prev svg {
    display: block;
    width: 1.1rem;
    height: 1.8rem;
}
@media screen and (orientation: portrait), screen and (max-width: 768px) {
    .simpleSlider .slick-prev img,
    .simpleSlider .slick-prev svg {
        width: 0.8rem;
        height: 1.2rem;
    }
}
.arrow-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
@media screen and (min-width: 769px) and (hover) {
    .arrow-link {
        cursor: pointer;
        -webkit-transition: opacity 1s, -webkit-transform 0.3s;
        transition: opacity 1s, -webkit-transform 0.3s;
        -o-transition: opacity 1s, transform 0.3s;
        transition: opacity 1s, transform 0.3s;
        transition: opacity 1s, transform 0.3s, -webkit-transform 0.3s;
    }
    .arrow-link .arrow-link__text {
        -webkit-transition: opacity 1s;
        -o-transition: opacity 1s;
        transition: opacity 1s;
    }
    .arrow-link .arrow-link__arrow {
        -webkit-transition: -webkit-filter 1s;
        transition: -webkit-filter 1s;
        -o-transition: filter 1s;
        transition: filter 1s;
        transition: filter 1s, -webkit-filter 1s;
    }
    .arrow-link:hover .arrow-link__text {
        opacity: 0.4;
    }
    .arrow-link:hover .arrow-link__arrow {
        -webkit-filter: hue-rotate(-35deg);
        filter: hue-rotate(-35deg);
    }
    .arrow-link:active {
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
    }
}
.arrow-link__text {
    color: #1a1a1a;
    font-family: CoreSansC, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 140%;
    letter-spacing: -0.01em;
    margin-right: 0.9rem;
}
@media screen and (max-width: 428px) {
    .arrow-link__text {
        font-size: 1.4rem;
        line-height: 120%;
    }
}
.arrow-link__arrow {
    display: block;
    height: 1.2rem;
    width: 0.75rem;
    -webkit-transform: translateY(2px);
    -ms-transform: translateY(2px);
    transform: translateY(2px);
}
@media screen and (max-width: 428px) {
    .arrow-link__arrow {
        -webkit-transform: translateY(1px);
        -ms-transform: translateY(1px);
        transform: translateY(1px);
    }
}
.fullHeightMinWidthComents__arrow-link {
    position: absolute;
    bottom: 8rem;
    right: 6.4rem;
}
@media screen and (max-width: 428px) {
    .fullHeightMinWidthComents__arrow-link {
        bottom: 11.7rem;
        right: 2.4rem;
    }
}
.fullHeightMinWidthComents__arrow-link__arrow {
    -webkit-transform: translateY(1px);
    -ms-transform: translateY(1px);
    transform: translateY(1px);
    -webkit-filter: brightness(5);
    filter: brightness(5);
}
.horizMenu__arrow-link {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-left: 2rem;
}
@media screen and (max-width: 428px) {
    .horizMenu__arrow-link {
        display: none;
    }
}
.vidgets__arrow-link {
    margin-top: 2.5rem;
}
.apple .arrow-link__arrow {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
